/* import fonts */
@font-face {
    font-family: 'SFProDisplay';
    src: local('SF Pro Display'), url(./fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-bold';
    src: local('SF Pro Display bold'), url(./fonts/SF-Pro-Display-Bold.otf) format('opentype');
    font-weight: bold;
}

/* import fonts ends */
html {
    background-color: #F9FAFB;
}

body {
    margin: 10;
}

.App {
    text-align: left;
    max-width: 851px;
    margin: auto;
    //overflow-wrap: break-word;
    display: grid;
    grid-template-rows: 49px 22px 22px 15px 16px 57px 1px 15px auto 15px 27px 14px 33px 18px 139px;
    grid-template-columns: 504px 346px;
}
@media (max-width: 851px) {
    .App {
	display: grid;
	grid-template-rows: 30px 25px 22px 1px 13px auto 25px 53px auto 86px 5px 255px 17px 34px 18px;
	grid-template-columns: 1fr 1fr;
    }
}

.border0 {
    //border: dashed 1px pink;
}

.AirbaseLogo {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}
@media (max-width: 851px) {
    .AirbaseLogo {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	margin-left: 16px;
	margin-right: 16px;
    }
    .MainBox-AirbaseLogo-underline {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
	margin-left: 16px;
	margin-right: 16px;
	background-color: rgba(34, 34, 34, 0.05);
    }
}

.AirbaseLogo-svg {
    height: 24px;
}

.Security {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}
@media (max-width: 851px) {
    .Security {
	grid-column: 1 / -1;
	grid-row: 6 / 7;
	margin-left: 16px;
	margin-right: 16px;
    }   
}

.Security-image {
    height: 12px;
}
.Security-message-heading {
    color: green;
    height: 14px;
    margin-left: 4px;

    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 14px;

    color: #FFA03D;
}
.Security-message-value {
    margin-left: 8px;
    height: 14px;

    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 14px;
    color: rgba(34, 34, 34, 0.5);
}


.MainBox-background-white {
    grid-column: 1 / -1;
    grid-row: 6 / 15;
    border-radius: 8px;
    background: #FFFFFF;
    z-index: -1;
}

@media (max-width: 851px) {
    .MainBox-background-white {
	grid-column: 1 / -1;
	grid-row: 8 / 13;
	border-radius: 8px;
	background: #FFFFFF;
	z-index: -1;
    }
}
.MainBoxHeading {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
}
@media (max-width: 851px) {
    .MainBoxHeading {
	grid-column: 1 / -1;
	grid-row: 8 / 9;
    }
}

@media (min-width: 852px) {
    .MainBox-heading-underline {
	grid-column: 1 / -1;
	grid-row: 7 / 8;
	background: rgba(34, 34, 34, 0.05);
    }
}

.MainBoxHeading-image {
    margin-left: 16px;
    
    height: 32px;
    width: 32px;
}
.MainBoxHeading-text {
    height: 19px;
    margin-left: 12px;
    
    font-family: SFProDisplay;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
}

.RequesterBox {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    
    background-color: rgba(34, 34, 34, 0.05);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 48px 41px 41px 45px 44px 72px;
    grid-template-rows: 48px 41px 41px 45px auto 72px;

    border: 1px solid rgba(34, 34, 34, 0.05);
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;

    filter: drop-shadow(0px 2px 4px rgba(34, 34, 34, 0.05));
}
@media (max-width: 851px) {
    .RequesterBox {
	grid-column: 1 / -1;
	grid-row: 9 / 10;
	grid-template-rows: 48px 41px auto 45px 0px 72px;
    }    
}

.RequesterBox > div {
    background-color: white;
    padding: 10px;
}

.RequesterBox-name {
    grid-column: 1 / -1;
}
.RequesterBox-cost {
    grid-column: 1 / -1;
}
.RequesterBox-freq {
}
.RequesterBox-annual {
}
.RequesterBox-account {
    grid-column: 1 / -1;
}
.RequesterBox-file {
    grid-column: 1 / -1;
}
@media (max-width: 851px) {
    .RequesterBox-file {
	visibility: hidden;
    }
}

.RequesterBox-description {
    grid-column: 1 / -1;
}
.RequesterBox-profilepicture-image {
    height: 24px;
}

.ApproverBox {
    grid-column: 2 / -1;
    grid-row: 8 / 15;
    border-left: 1px solid rgba(34, 34, 34, 0.05);
}
@media (max-width: 851px) {
    .ApproverBox {
	grid-column: 1 / -1;
	grid-row: 12 / 13;
	border-left: none;
    }
}

/* vertically stack view, below width of 851px*/
/*TODO*/
/**/

.multiusewarning {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    margin-left: 15px; /*16px on mobile*/
}
@media (max-width: 851px) {
    .multiusewarning {
	grid-column: 1 / -1;
	grid-row: 10 / 11;
    }
    .MainBox-Approvers-multiusewarning-gap {
	grid-column: 1 / -1;
	grid-row: 11 / 12;
	background-color: #F9FAFB;
    }
}

.multiusewarning-message {
    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 16px;

    color: #FF6448;
}
.multiusewarning-count {
    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 16px;

    color: #222222;
    opacity: 0.5;
}
.ApproveDeny {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
    
    margin-left: 15px;
}
@media (max-width: 851px) {
    .ApproveDeny {
	grid-column: 1 / -1;
	grid-row: 14 / 15;
    }
}

.ApproveDeny-approve-button {
    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 16px;


    color: #FFFFFF;
    background: #26C281;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}
.ApproveDeny-deny-button {
    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 16px;

    margin-left: 8px;

    color: #FFFFFF;
    background: #FF6448;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}

@media (min-width: 852px) {
    .ApproveDeny-approve-button {
	height: 34px;
	width: 84px;
    }
    .ApproveDeny-deny-button {
	height: 34px;
	width: 64px;
    }    
}

@media (max-width: 851px) {
    .ApproveDeny-approve-button {
	grid-column: 1 / 2;
	width: 45%;
	height: 36px;
    }
    .ApproveDeny-deny-button {
	grid-column: 2 / 3;
	width: 45%;
	height: 36px;
    }
}

/* grid on ApproversList item */
.Approvers-list-item {
    display: grid;
    grid-template-columns: 24px 24px minmax(0, 1fr) 36px;
    grid-template-rows: 17px 14px;
    grid-gap: 3px;
}
.Approvers-list-indexcircle {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}
.ApproversList-profilepicture {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    height: 24px;
}
.ApproversList-name-email {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.ApproversList-date {
    grid-column: 3 / 4;
    grid-row: 2 / -1;
}
.ApproversList-statuscircle {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
}
/* grid on ApproversList ends */

.ApproversList {
    margin-left: 16px;    
}

.Approvers-list-item {
    margin-top: 13px;
}

.Approvers-list-circle {
    width:20px;
    height:20px;
    border-radius:10px;
    font-size: 12px;
}
.Approvers-list-indexcircle {
    color:#222222;
    line-height: 20px;
    background: rgba(34, 34, 34, 0.1);
    text-align: center;
    opacity: 0.5;
    display: block;

    font-family: SFProDisplay;
    font-size: 12px;
}
.Approvers-list-tickedcircle {
    color:#222222;
    line-height: 20px;
    background: #26C281;
    text-align: center;
    display: block;
}
.Approvers-list-untickedcircle {
    color: #FFFFFF;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.1);

    text-align: center;
    display: inline-block;
}
.Approvers-list-tickedcircletext {
    background: #FFFFFF;
}

.ApproversList-heading {
    margin-top: 17px;
    height: 14px;
    
    font-family: SFProDisplay;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #222222;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.ApproversList-fullname {
    font-size: 14px;
    margin-left: 5px;

    font-family: SFProDisplay;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
}

.ApproversList-email {
    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    opacity: 0.5;

    margin-left: 4px;
}

.ApproversList-name-email {
    min-width: 0;
}

.ApproversList-date {
    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    opacity: 0.5;

    margin-left: 4px;
}

.ApproversList-profilepicture-image {
    height: 24px;
}

.ApproverBox-hr {
    height: 1px;
    background-color: rgba(34, 34, 34, 0.05);
    border: none;
    
    margin-left: 16px;
    margin-right: 16px;
}

.RequesterBoxItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.RequesterBoxItemHalfwidth {
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 1fr;
}

.RequesterBoxItem-field_name {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 16px;

    color: #222222;
    opacity: 0.5;
}
.RequesterBoxItem-field_value {
    grid-row: 1 / -1;
    grid-column: 2 / 4;
    
    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 20px;

    color: #222222;
}

.RequesterBoxItemHalfwidth-field_name {
    grid-row: 1 / -1;
    grid-column: 1 / 6;

    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 16px;

    color: #222222;
    opacity: 0.5;
}
.RequesterBoxItemHalfwidth-field_value {
    grid-row: 1 / -1;
    grid-column: 6 / 7;

    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 20px;

    color: #222222;    
}

.RequesterBox-description > .RequesterBoxItem-field_name, .RequesterBox-description > .RequesterBoxItem-field_value {
    line-height: 20px;
}

.RequesterBox-profilepicture-image {
    vertical-align: middle;
}
.RequesterBox-fullname {
    margin-left: 8px;
}
.RequesterBox-filename {
    margin-left: 9px;
}
