html {
    background-color: #F9FAFB;
}

body {
    margin: 10;
}

.App {
    text-align: left;
    max-width: 851px;
    margin: auto;
    //overflow-wrap: break-word;
    display: grid;
    grid-template-rows: 48px 49px 29px 478px 140px;
    grid-template-columns: 1fr;
}

.border0 {
    border: dashed 1px pink;
}

.AirbaseLogo {
    max-width: 851px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.AirbaseLogo-svg {
    height: 24px;
}

.Security-image {
    height: 12px;
}

.Security {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

.MainBox {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    
    background-color: rgba(34, 34, 34, 0.05);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 504px 346px;
    grid-template-rows: 60px auto;/* 56px  */
}

.MainBox > div {
    background-color: white;
}

.MainBoxHeading {
    grid-column: 1 / -1;
}

.MainBoxHeading-image {
    margin-left: 10px;
    height: 32px;
    width: 32px;
}

.RequesterBoxWrapper {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.RequesterBox {
    background-color: rgba(34, 34, 34, 0.05);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 48px 41px 41px 45px 44px 72px;
    grid-template-rows: 48px 41px 41px 45px auto 72px;

    border: 1px solid rgba(34, 34, 34, 0.05);
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;

    filter: drop-shadow(0px 2px 4px rgba(34, 34, 34, 0.05));
}

.RequesterBox > div {
    background-color: white;
    padding: 10px;
}

.RequesterBox-name {
    grid-column: 1 / -1;
}
.RequesterBox-cost {
    grid-column: 1 / -1;
}
.RequesterBox-freq {
}
.RequesterBox-annual {
}
.RequesterBox-account {
    grid-column: 1 / -1;
}
.RequesterBox-file {
    grid-column: 1 / -1;
}
.RequesterBox-description {
    grid-column: 1 / -1;
}
.RequesterBox-profilepicture-image {
    height: 24px;
}

.ApproverBox {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.multiusewarning-message {
    color: #ED6E53;
}
.multiusewarning-count {
    color: #909090;
}
.ApproveDeny {
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: 19px;
}
.ApproveDeny-approve {
    height: 34px;
    width: 84px;

    color: #FFFFFF;
    background: #26C281;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}
.ApproveDeny-deny {
    margin-left: 8px;
    height: 34px;
    width: 64px;

    color: #FFFFFF;
    background: #FF6448;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}

.multiusewarning {
    margin-left: 15px; /*16px on mobile*/
}

/* grid on ApproversList item */
.Approvers-list-item {
    display: grid;
    grid-template-columns: 24px 24px minmax(0, 1fr) 36px;
    grid-template-rows: 17px 14px;
}
.Approvers-list-indexcircle {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}
.ApproversList-profilepicture {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    height: 24px;
}
.ApproversList-name-email {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.ApproversList-date {
    grid-column: 3 / 4;
    grid-row: 2 / -1;
}
.ApproversList-statuscircle {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
}
/* grid on ApproversList ends */

.ApproversList {
    margin-left: 16px;    
}

.Approvers-list-circle {
    width:20px;
    height:20px;
    border-radius:10px;
    font-size: 12px;
}
.Approvers-list-indexcircle {
    color:#222222;
    line-height: 14px;
    background: rgba(34, 34, 34, 0.1);
    text-align: center;
    opacity: 0.5;
    display: inline-block;
}
.Approvers-list-tickedcircle {
    color:#222222;
    line-height: 14px;
    background: #26C281;
    text-align: center;
    display: inline-block;
}
.Approvers-list-untickedcircle {
    color: #FFFFFF;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.1);

    text-align: center;
    display: inline-block;
}
.Approvers-list-tickedcircletext {
    background: #FFFFFF;
}

.ApproversList-heading {
    height: 14px;
    
    font-family: SFProDisplay;
    font-size: 12px;
    line-height: 14px;

    color: #222222;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.ApproversList-fullname {
    font-size: 14px;
    margin-left: 8px;
}

.ApproversList-email {
    font-size: 12px;
    margin-left: 4px;
}

.ApproversList-name-email {
    min-width: 0;
}

.ApproversList-date {
    font-size: 12px;
    margin-left: 8px;
}

.ApproversList-profilepicture-image {
    height: 24px;
}

.ApproverBox-hr {
    height: 1px;
    background-color: rgba(34, 34, 34, 0.05);
    border: none;
    
    margin-left: 16px;
    margin-right: 16px;
}

.RequesterBoxItem, .RequesterBoxItemHalfwidth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.RequesterBoxItem-field_name {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}
.RequesterBoxItem-field_value {
    grid-row: 1 / -1;
    grid-column: 2 / 4;
}

.RequesterBoxItemHalfwidth-field_name {
    grid-row: 1 / -1;
    grid-column: 1 / 3;
}
.RequesterBoxItemHalfwidth-field_value {
    grid-row: 1 / -1;
    grid-column: 3 / 4;
}

.ApproveDeny {

}

.ApproveDeny-approve {
}
.ApproveDeny-deny {
}
