html {
    background-color: #F9FAFB;
}

body {
    margin: 10;
}

.App {
    text-align: left;
    max-width: 851px;
    margin: auto;
    overflow-wrap: break-word;
}

.border0 {
    //border: dashed 1px pink;
}

.MainBox {
    background-color: rgba(34, 34, 34, 0.05);
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 504px 346px;
    grid-template-rows: 60px auto;/* 56px  */
}

.MainBox > div {
    background-color: white;
}

.MainBoxHeading {
    grid-column: 1 / -1;
}

.RequesterBoxWrapper {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.RequesterBox {
    background-color: rgba(34, 34, 34, 0.05);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px 41px 41px 45px 44px 72px;

    border: 1px solid rgba(34, 34, 34, 0.05);
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;

    filter: drop-shadow(0px 2px 4px rgba(34, 34, 34, 0.05));
}

.RequesterBox > div {
    background-color: white;
    padding: 10px;
}

.RequesterBox-name {
    grid-column: 1 / -1;
}
.RequesterBox-cost {
    grid-column: 1 / -1;
}
.RequesterBox-freq {
}
.RequesterBox-annual {
}
.RequesterBox-account {
    grid-column: 1 / -1;
}
.RequesterBox-file {
    grid-column: 1 / -1;
}
.RequesterBox-description {
    grid-column: 1 / -1;
}

.ApproverBox {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.multiusewarning-message {
    color: #ED6E53;
}
.multiusewarning-count {
    color: #909090;
}
.ApproveDeny {
    margin-left: 15px;
}
.ApproveDeny-approve {
    color: #FFFFFF;
    background: #26C281;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}
.ApproveDeny-deny {
    color: #FFFFFF;
    background: #FF6448;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
}

/*
   .ApproveDeny-approve .ApproveDeny-deny {
   position: absolute;
   height: 17px;
   left: 19.05%;
   right: 20.24%;
   top: calc(50% - 17px/2 + 0.5px);

   font-family: SFProDisplay;
   font-size: 14px;
   line-height: 16px;
   //identical to box height

   color: #FFFFFF;
   }
 */
.multiusewarning {
    margin-left: 15px; /*16px on mobile*/
}
.Approvers-list-timecircle {
    width:20px;
    height:20px;
    border-radius:10px;
    font-size: 12px;
    color:#222222;
    line-height: 14px;
    background: rgba(34, 34, 34, 0.1);
    text-align: center;
    opacity: 0.5;
    display: inline-block;
}
